
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>ログイン</h1>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', placeholder: "メールアドレス" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', placeholder: "名前" %>
      <br><br>
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    <br><br><br>
    <p>ご登録はお済ですか？  <%= button_to "新規登録する", new_user_path, class: "btn btn-primary" %></p>
  </div>
</div>