<% if pick.likes.find_by(user_id: current_user.id) %>
  <%= button_to article_pick_like_path(@article.id, pick.id), method: :delete, id: "like-button", class:"btn" do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
    <span><%= pick.likes.count %>いいね</span>
  <% end %>
<% else %>
  <%= button_to article_pick_likes_path(@article.id, pick.id), method: :post, id: "like-button", class:"btn" do %>
    <i class="fa fa-heart " aria-hidden="true"></i>
    <span><%= pick.likes.count %>いいね</span>
  <% end %>
<% end %>