<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <!-- インジケーターの設置。下部の○●ボタン。 -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
    <li data-target="#carousel-example" data-slide-to="3"></li>
    <li data-target="#carousel-example" data-slide-to="4"></li>
    <li data-target="#carousel-example" data-slide-to="5"></li>
  </ol>
 
  <!-- スライドの内容 -->
  <div class="carousel-inner">
    <div class="item active">
      <% if Article.exists?(1) %>
        <% article = Article.first %>
        <div class="item active">
          <%= link_to(image_tag(article.pic), article)%>
          <div class="carousel-caption">
            <h4><%= link_to article.title, article %></h4>
            <p><%= article.picks.count %> Picks</p>
          </div>
        </div>
      <% end %>  
    </div>
    <% unless @articles[1..5].nil? %>
      <% @articles[1..5].each do |article|  %>
        <div class="item">
          <%= link_to(image_tag(article.pic), article)%>
          <div class="carousel-caption">
            <h4><%= link_to article.title, article %></h4>
            <p><%= article.picks.count %> Picks</p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>  
  <!-- 左右の移動ボタン -->
  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div>