<div class="profile-wrapper">
  <%= link_to(user, class:"list-group-item") do %>
    <div class="user-profile">
      <h4 class="list-group-item-heading">
        <div class="name"><%= user.name %></div>
        <div class="user-pic"><%= image_tag user.user_pic, size: "30x30" %></div>
      </h4>
    </div>  
  <% end %>
  <p class="list-group-item-text" id="comment-<%= user.id %>">
    <%= simple_format(h(pick.comment)) %>
  </p>
</div>