<%= form_for(article, html:{multipart: true}) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="field">
    <%= f.label :url %>
    <%= f.text_area :url %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>


  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :site_name %>
    <%= f.text_area :site_name %>
  </div>

  <div class="field">
    <%= f.label :post_time %>
    <%= f.datetime_select :post_time %>
  </div>
  
  <div class="field">
    <%= f.label :category %>
    <%= f.collection_select(:category, @articles,:category,:category) %>
  </div>  

<%#= f.select category, ["Culture","Government & Justice","Mind & Body","Money","Relationships","Science","Society"]  %>

  
  <span class="picture">
    <%= f.file_field :shudopic, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <small>画像名は英語表記にしなさい</small>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>