
<%#
  #pick と article user(コメント主), pickが引数 
  #今のユーザーが like しててたらtrue
%>
<div class="like-panel">
  <% if pick.likes.find_by(user_id: current_user.id) %>
    <!--いいねとりけしボタン-->
    <div id="like-button-<%= user.id %>">
      <%= button_to article_pick_like_path(article.id, pick.id, Like.where(user_id: user.id, pick_id: pick.id)), method: :delete, class:"btn", params:{article_id: article.id, pick_user_id: user.id}, remote: true do %>
        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
        <span><%= pick.likes.count %>いいね</span>
      <% end %>
    </div>  
  <% else %>
    <!--いいねボタン-->
    <div id="like-button-<%= user.id %>">
      <%= button_to article_pick_likes_path(article.id, pick.id), method: :post, class:"btn", params:{article_id: article.id, pick_user_id: user.id}, remote: true do %>
        <i class="fa fa-heart" aria-hidden="true"></i>
        <span><%= pick.likes.count %>いいね</span>
      <% end %>
    </div>  
  <% end %>
</div>

<!--article_pick_like_path(article.id, pick.id)

<%#= form_for (pick.likes)  id: "like-button like-#{user.id}", class:"btn", remote: true do %>

-->