<div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../img/img1.png" alt="写真1">
      <div class="carousel-caption">
        <h1>写真1</h1>
          <p>おいしいコーヒーと自分だけの時間</p>
      </div>
    </div>
    <div class="item">
      <img src="../img/img2.png" alt="写真2">
      <div class="carousel-caption">
        <h1>写真2</h1>
      </div>
    </div>
    <div class="item">
      <img src="../img/img3.png" alt="写真3">
      <div class="carousel-caption">
        <h1>写真3</h1>
      </div>
    </div>
  </div>