
<link type="text/css" rel="stylesheet"
  href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
<script type="text/javascript"
  src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript"
  src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript">
$(function() {
  // 2オートコンプリート機能を適用
  $('#txtKeywd').autocomplete({
    source: <%= sanitize Article.get_tags %>,
    autoFocus: true,
    delay: 100,
    minLength: 2
  });
});
</script>


<div class="col-sm-12" style="margin-bottom: 30px height: 200px;">
  <%= render 'carousel' %>
</div>
<br><br><br><br><br>

<div class="col-sm-12 col-offset-sm-2">
  <% unless @articles[0].nil? %>
    <% hajime_article = @articles[0] %>
    <div class="col-sm-12 thumbnail">
      <p><%= link_to image_tag(hajime_article.pic), hajime_article %></p>
      <div class="caption text-center">
        <h4><%= link_to hajime_article.title, hajime_article %></h4>
        <p><%= link_to hajime_article.site_name, hajime_article, class:"caption" %></p>
        <p><%= hajime_article.count %> words</p>
        <p><%= hajime_article.picks.count %> Picks</p>
        <p><%= time_ago hajime_article.post_time if hajime_article.post_time %></p>
      </div>
    </div>
  <% end %>
  <% unless @articles[1..8].nil?%>
    <% @articles[1..8].each do |article| %>
    <div class="col-sm-6 article" style="padding: 5px;">
      <span></span>
        <p class="pick"><%= article.picks.count %> Pick</p>
        <%= link_to image_tag(article.pic, class:"img-responsive"), article %>
        <div class="inner-article text-center">
          <h5><%= link_to article.title, article %></h5>
          <p><%= article.count %> words</p>
          <p><%= article.picks.count %> Picks</p>
          <p><%= time_ago article.post_time if article.post_time %></p>
        </div>
    </div>   
  <% end %>
  <% end %>
</div>


<% if false %>
<!--Culture 記事一覧-->
<div class="article-culture col-sm-12">
  <div>
    <h1 class="block-inline">Culture</h1>
    <span class="inline">
      <%= link_to content_tag(:i, "Culture 一覧をみる", class: "fa fa-chevron-right"), categories_culture_path %>
    </span>
  </div>  
  
  <% @articles.culture.limit(3).each do |article|%>
    <div class="col-sm-4">
      <div class="thumbnail">
        <p class="img-responsive"><%= link_to image_tag(article.pic), article %></p>
        <div class="caption text-center">
          <h4><%= link_to article.title, hajime_article %></h4>
          <p><%= link_to article.site_name, article, class:"caption" %></p>
          <p><%= article.count %> words</p>
          <p><%= article.picks.count %> Picks</p>
          <p><%= time_ago article.post_time if article.post_time %></p>
        </div>
      </div>      
    </div>  

  <% end %>
</div>

<!--Nature 記事一覧-->
<div class="article-nature col-sm-12">
  <div>
    <h1 class="block-inline">Nature</h1>
    <span class="inline">
      <%= link_to content_tag(:i, "Nature 一覧をみる", class: "fa fa-chevron-right"), categories_nature_path %>
    </span>
  </div>  
  <% @articles.nature.limit(3).each do |article|%>
    <div class="col-sm-4">
      <div class="thumbnail">
        <p class="img-responsive"><%= link_to image_tag(article.pic), article %></p>
        <div class="caption text-center">
          <h4><%= link_to article.title, hajime_article %></h4>
          <p><%= link_to article.site_name, article, class:"caption" %></p>
          <p><%= article.count %> words</p>
          <p><%= article.picks.count %> Picks</p>
          <p><%= time_ago article.post_time if article.post_time %></p>
        </div>
      </div>      
    </div>  
  <% end %>
</div>

<!--Science 記事一覧-->
<div class="article-science col-sm-12">
  <div>
    <h1 class="block-inline">Science</h1>
    <span class="inline">
      <%= link_to content_tag(:i, "Science 一覧をみる", class: "fa fa-chevron-right"), categories_science_path %>
    </span>
  </div>  
  <% @articles.science.limit(3).each do |article|%>
    <div class="col-sm-6">
      <div class="thumbnail">
        <p class="img-responsive"><%= link_to image_tag(article.pic), article %></p>
        <div class="caption text-center">
          <h4><%= link_to article.title, hajime_article %></h4>
          <p><%= link_to article.site_name, article, class:"caption" %></p>
          <p><%= article.count %> words</p>
          <p><%= article.picks.count %> Picks</p>
          <p><%= time_ago article.post_time if article.post_time %></p>
        </div>
      </div>      
    </div>  
  <% end %>
</div>
<% end %>