<p id="notice"><%= notice %></p>




<!--左サイドバー-->
<div class="col-sm-3 left-side" >
  <% if logged_in? %>
    <!--プロフィール-->
    <%= render 'shared/userstatus' %>
  <% end %>
    <!--重要単語を取得してハッシュにかえる-->
    <% clean_words = @article.daiji_words.gsub(/[{}"]/, "").gsub(/\=\>/, ":").delete(' ').split(/[:,]/) %>
    <% clean_words = clean_words.each_slice(2).map {|k, v| [k.to_sym, v] }.to_h %>
  
    <!--重要単語をテーブルで表示-->
    <% clean_words.each do |col, idx| %>
    <h3 style="background-color:#ADFF2F;"><%= col %></h3>
    <h5><%= idx %></h5>
  <% end %>
</div>

<!--メインコンテンツ-->
<div class="col-sm-6 show-div">
  <div class=" show-div">
    <!--トップ画像-->
    <%= image_tag_for_article(@article) %>
    <!--タイトル-->
    <p><%= link_to @article.title, @article.url, target: "_new", class: "show-div lead"%></p>
  
    <!--ソースと時間-->
    <span class="form-inline">
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
       <%= link_to @article.site_name, @article.site_name %>
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      <%=  time_ago @article.post_time   %>
      <br>
    </span>
    <br><br><br>
    <!--本文の200文字-->
    <h4 class="show-div"> <%= @article.body %>....</h4>
    <br><br><br>
    
    <!--続きを読むボタン-->
    <div class="read-more col-sm-10  show-div">
      <%= link_to "続きを読む", @article.url, class: "read-more col-sm-10 show-div", rel: "noopener", target: "_blank" %>
    </div>
    
    <div id="here"></div>
    
    <br><br><br><br><br><br>
      
    <!--Pickボタン-->
    <% if logged_in? %>
      <div class="row pickc-n-omment">
        <% if @pick.user_id.nil? %>
          <%= form_for(@pick, url: article_picks_path(@article)) do |f| %>
            <%= f.text_area :comment, class: "col-sm-12 comment-area" %>
            <br>
            <%= f.submit "Pickする", class:"btn col-sm-offset-4 col-sm-4" %>
          <% end %>
        <!--unpickボタン-->  
        <% else %>
            <%= form_for(@pick, url: article_pick_path(@article, @pick), method: :patch) do |f| %>
            <%= f.text_area :comment, class: "col-sm-12 comment-area" %>
            <br>
            <%= f.submit "Pickする", class:"btn col-sm-offset-4 col-sm-4" %>
          <% end %>
          <%= link_to "UnPick", article_pick_path(@article, @pick), method: :delete, class:"col-sm-offset-1" %>
        <% end %>
      </div>
    <% end %>  
  </div>
  <div id="sample"></div>
  
  
    <br><br><br><br><br><br>
  
  <!--Pickしたユーザーとコメント-->
  <% if logged_in? %>
    <div class="col-sm-12 show-div">
      <div class="list-group">
        <div class="list-group-item my-pick">
            <strong>自分のコメント</strong>
            <% @article.picks.mypick(current_user).each do |pick| %>
              <%= render partial: 'comment', locals: {user: current_user, pick: pick} %>
            <% end %>
        </div>
    <br><br><br>
    
      <div class="list-group-item following-pick">
        <strong>フォロー中のコメント</strong>
        <% @article.picks.followpick(current_user).each do |pick| %>
          <% if(@user=User.find_by(id: pick.user_id)) #ここ代入してるよん%>
            <div class="user-<%=@user.id%>">
              <!--いいねフォーム-->
              <%= render partial: 'like', locals: {pick: pick, article: @article, user: @user} %>
              <!--コメント欄-->
              <%= render partial: 'comment', locals: {user: @user, pick: pick} %>
            </div>
          <% end %>
        <% end %>
      </div>

      <br><br><br>
      <div class="list-group-item other-pick">
        <strong>ほかのユーザーのコメント</strong>
        <% @article.picks.otherpick(current_user).each do |pick| %>
          <% if(@user=User.find_by(id: pick.user_id)) #ここ代入してるよん%>
            <div class="user-<%= @user.id %>">
              <!--いいねフォーム-->
              <%= render partial: 'like', locals: {pick: pick, article: @article, user: @user} %>
              <!--コメント欄-->
              <%= render partial: 'comment', locals: {user: @user, pick: pick} %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>  
    <div class="col-sm-12 show-div">
      <div class="list-group">
        <div class="list-group-item my-pick">
            <strong>ほかの人のコメント</strong>
            <% @article.picks.all.each do |pick| %>
              <%= render partial: 'comment', locals: {user: User.find(pick.user_id), pick: pick} %>
            <% end %>
        </div>
      </div>
    </div>  
  <% end %>
  </div>
</div>

<div class="col-sm-3">
  <% @new_articles.each do |article|%>
    <div class="thumbnail article-<%=article.id%>" style="background-color:#D3D3D3; border: solid 3px white;">
      <p class="img-responsive"><%= link_to image_tag(article.pic), article  if article.pic != nil%></p>
      <p class="article-title"><%= link_to article.title, article %></p>
      <p class="article-sitename"><%= link_to article.site_name, article, class:"caption" %></p>
      <p class="article-count"><%= article.count %> words</p>
      <p class="article-pick-count"><%= article.picks.count %> Picks</p>
      <p class="article-timeago"><%= time_ago article.post_time if article.post_time %></p>
    </div>
  <% end %>
</div>



