<table class="tango-list col-sm-8">
  <tbody>
    <% @tangos.each do |tango| %>
      <tr>
        <th><%= tango.word %></th>
        <td class="meaning col-sm-4"><%= tango.meaning %></td>
        <td class="button col-sm-4" id="list-button-<%= tango.id %>">
          <% if current_user.tango_lists.find_by(tango_id: tango.id) %>
            <%= link_to '追加済', tango_tango_list_path(tango.id, TangoList.find_by(tango_id: tango.id)), method: :delete, remote: true %>
          <% else %>
            <%= link_to '単語帳に追加', tango_tango_lists_path(tango.id), method: :post, remote: true%></td>
          <% end %>
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>