<% alphabet = ["A","B","C","D","E","F","G","H","I","J","K","L","N","M","O","P","Q","R","S","T","U","V","W","X","Y","Z"] %>
<br><br><br><br><br><br>

<div class="row">
  <%= link_to "単語を登録する", tangos_path, class:"go-to-tangos" %>

  <div class="col-md-4">
    <ul class="list-inline">
      <%= link_to(content_tag(:li, "All", class: "alpha-btn red-btn"), tango_lists_search_path(q: "all"), class: "red-btn",method: :post ,remote: true )%>
      <% alphabet.each do |word| %>
        <%= link_to(content_tag(:li, word, class: "alpha-btn"), tango_lists_search_path(q: word.downcase),method: :post ,remote: true )%>
      <% end %>
    </ul>
  </div>

  <div class="col-md-8">
    <% if @tangos.empty? %>
      <h1>未登録のようです</h1>
    <% else %>
      <div id="lists">
        <table class="tango-list">
          <tbody>
            <% @tangos.each do |tango| %>
              <tr>
                <th class><%= tango.word %></th>
                <td><%= tango.meaning %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>  
    <% end %>
  </div>  