<%# create.js.erb で呼び出す削除ボタン %>

<%= button_to article_pick_like_path(@article_id, @pick.id, Like.where(user_id: @pick_user.id,  pick_id: @pick.id)), method: :delete, class:"btn", params:{article_id: @article_id, pick_user_id: @pick_user.id}, remote: true do %>
  <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
  <span><%= @pick.likes.count %>いいね</span>
<% end %>


