<%# destroy.js.erb で呼び出される %>

<%= button_to article_pick_likes_path(@article_id, @pick.id), method: :post, class:"btn", params:{article_id: @article_id, pick_user_id: @pick_user.id}, remote: true do %>
  <i class="fa fa-heart" aria-hidden="true"></i>
  <span><%= @pick.likes.count %>いいね</span>
<% end %>
