
<%= form_for(user, html: {multipart: true}) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <label class="col-sm-4 col-form-label col-form-label-lg">名前</label>
    <%= f.text_field :name, class: "col-sm-8", placeholder: "名前欄" %>
  </div>

  <br><br><br>

  <div class="form">
    <label class="col-sm-4 col-form-label col-form-label-lg">メールアドレス</label>
    <%= f.email_field :email, class: "col-sm-8", placeholder: "メールアドレス欄" %>
  </div>

  <br><br><br>

  <div class="form">
    <label class="col-sm-4 col-form-label col-form-label-lg">自己紹介</label>
    <%= f.text_field :hitokoto, class:"col-sm-8", placeholder: "自己紹介をおかきください" %>
  </div>

  <br><br><br>

  <div class="form">
    <label class="col-sm-4 col-form-label col-form-label-lg">アイコン選択</label>
    <div class="col-sm-8">
      <%= f.file_field :user_pic, id:"file", style:"display:none;" ,accept: 'image/jpeg,image/gif,image/png'%>
      <input type="button" value="ファイル選択" class="btn btn-normal" onClick="$('#file').click();">
      <span id="img-profile">
        <%= image_tag('default.jpg', size:"60x60", class:"img-circle", id: "preview") %>
      </span>
    </div>
  </div>

  <br><br><br>

  <div class="form">
    <label class="col-sm-4 col-form-label col-form-label-lg">パスワード</label>
    <%= f.password_field :password, class:"col-sm-8", placeholder: "パスワード" %>
  </div>

  <br><br><br>

  <div class="form">
    <label class="col-sm-4 col-form-label col-form-label-lg">パスワードの確認</label>
    <%= f.password_field :password_confirmation, class:"col-sm-8", placeholder: "パスワードの確認" %>
  </div>
  
  <br><br><br>  
  
  <div class="field">
    <%= f.label :agreement, class:"col-sm-4" %>
    <div class="col-sm-8">
      <small >会員登録には<%= link_to "利用規約", "#", style:"color:red;" %>に同意してください</small>
      <%= f.check_box :agreement %>
    </div>
  </div>
  
  <br><br><br>  

  <div class="actions">
    <button  type="submit" class="btn btn-primary btn-lg col-sm-offset-4 col-sm-4" >
      送信
    </button>
  </div>
<% end %>


<script type="text/javascript">

  $('#pic').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });

/*アップロード前にプレビュー表示*/
$('#file').change(
    function() {
        if ( !this.files.length ) {
            return;
        }
 
        var file = $(this).prop('files')[0];
        var fr = new FileReader();
        fr.onload = function() {
            $('#preview').attr('src', fr.result ).css('display','inline');
        }
        fr.readAsDataURL(file);
    }
);
</script>