<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
    </section>
    <section class="stats">
      <%= render 'shared/status' %>
    </section>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
          <%= link_to user.name, user %>
          <br>
        <% end %>
      </ul>
    <% end %>    
  </aside>
</div>