
<br><br><br><br><br>

<div class="col-sm-12">
  <div class="form-group row">
      <%= render 'shared/error_messages' %>

      <label class="col-sm-4 col-form-label"></label>
      <span class="col-sm-8">
        <%= image_tag @user.user_pic, size: "100x100" %>
      </span>
      <br><br><br><br><br><br>

      
      <label class="col-sm-4 col-form-label col-form-label-lg">名前</label>
      <div class="col-sm-8">
        <h2><%= @user.name %></h2>
      </div>
      <br><br><br>
      
      <label class="col-sm-4 col-form-label col-form-label-lg">ひとこと</label>
      <div class="col-sm-8">
        <%= @user.hitokoto %>
      </div>
      <br><br><br>
      
      <label class="col-sm-4 col-form-label">フォロー/フォロワー数</label>
      <span class="col-sm-8">
        <%= render 'users/follow_form' %>
      </span>
      <br><br><br>
      
      <label class="col-sm-4 col-form-label">総いいね数</label>
      <span class="col-sm-8">
        <%= Like.where(user_id: @user.id).count %> いいね
      </span>
      <br><br><br>
      
  </div>  
</div>






<!--フォローフォーム-->
<%= link_to "ユーザーの単語リストをみる", user_tango_lists_path(params[:id]), class: "btn btn-notice" %>
<%= render 'shared/status' %>

  <div class="col-sm-8">
    <% @articles.each do |article|%>
      <div class="col-sm-6 thumbnail">
        <% mypick = @user.picks.find_by(article_id: article.id) %>    
        <p class="img-responsive"><%= link_to image_tag(article.pic), article  if article.pic != nil%></p>
        <p><%= link_to article.title, article %></p>
        <p><%= image_tag(@user.user_pic,size:"30x30") %></p>
        <p>
          <% if mypick.comment == "" || mypick.comment == nil %>
            まだコメントはありません
          <% else %>
            <%= truncate(mypick.comment, length:100) %>
          <% end %>
        </p>
        <p><%= article.count %> words</p>
        <p><%= article.picks.count %> Picks</p>
        <p><%= time_ago article.post_time if article.post_time %></p>
      </div>
    <% end %>
  </div>
