<%# @user = || current_user%>
<div class="status">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
      following
    </strong>
  </a>
  <a href="<%=followers_user_path(@user)%>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
      followers
    </strong>
  </a>
</div>