<!--current_user の名前と写真とフォロワ数-->
<div class="userstatus">
  <div class="image-n-name">
    <%= link_to image_tag(current_user.user_pic, size: "100x100", class:"img-circle"), current_user %>
    <p><%= link_to(current_user.name, current_user, class:"text-center") %></p>
  </div>
  <div class="status">
    <a href="<%= following_user_path(current_user) %>">
      <strong id="following" class="stat">
        <%= current_user.following.count %>following
      </strong>
    </a>
    <a href="<%=followers_user_path(current_user)%>">
      <strong id="followers" class="stat">
        <%= current_user.followers.count %>followers
      </strong>
    </a>
  </div>
</div>
