<ul class="col-sm-3 list-group" style="list-style:none;">
  <li><%= link_to "プロフィール設定", settings_profile_path, class: "list-group-item" %></li>
  <li><%= link_to "メール設定", settings_email_path, class: "list-group-item" %></li>
  <li><%= link_to "パスワード設定", settings_password_path, class: "list-group-item" %></li>
</ul>