<% provide(:setting, "メールアドレスの設定") %>

<div class="col-sm-7">
  <%= render 'shared/error_messages' %>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">現在のメールアドレス</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" placeholder="<%= @email %>" readonly>
    </div>
  </div>
  

  <div class="form-group row">
    <%= form_for(@user, url: settings_email_path, method: :patch) do |f| %>
            <label for="lgFormGroupInput" class="col-sm-4 col-form-label col-form-label-lg">新しいメールアドレス</label>
      <div class="col-sm-8">
        <%= f.email_field :email, class:"form-control form-control-lg", id: "lgFormGroupInput", value: ""  %>        
      </div>
      <br><br><br>
      <button type='submit' class="btn btn-primary btn-lg col-sm-offset-4 col-sm-4" >更新する</button>
    <% end %>
  </div>  
</div>