<% provide(:setting, "パスワードの設定") %>

<div class="col-sm-7">
  <div class="form-group row">
    <%= form_for(current_user, url: settings_password_path, method: :patch) do |f| %>

      <%= render 'shared/error_messages' %>
      <label for="lgFormGroupInput" class="col-sm-4 col-form-label col-form-label-lg">パスワード</label>
      <div class="col-sm-8">
        <%= f.password_field :password, class:"form-control form-control-lg", id: "lgFormGroupInput"  %>        
      </div>
      <br><br><br>

      <label for="lgFormGroupInput" class="col-sm-4 col-form-label col-form-label-lg">パスワードの確認</label>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, class:"form-control form-control-lg", id: "lgFormGroupInput"  %>        
      </div>
      <br><br><br>

      <button type='submit' class="btn btn-primary btn-lg col-sm-offset-4 col-sm-4" >更新する</button>
    <% end %>
  </div>  
</div>
