<% provide(:setting, "プロフィールの設定") %>


<div class="col-sm-7">
  <div class="form-group row">
    <%= form_for(current_user, url: settings_profile_path, method: :patch) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <label class="col-sm-4 col-form-label col-form-label-lg">名前</label>
      <div class="col-sm-8">
        <%= f.text_field :name, class:"form-control form-control-lg" %>        
      </div>
      <br><br><br>
      
      
      <label class="col-sm-4 col-form-label col-form-label-lg">ひとこと</label>
      <div class="col-sm-8">
        <%= f.text_field :hitokoto, class:"form-control form-control-lg" %>
      </div>
      <br><br><br>
      
      <label class="col-sm-4 col-form-label">アイコン画像</label>
      <span class="col-sm-8">
        <%= f.file_field :user_pic, id:"file", style:"display:none;" ,accept: 'image/jpeg,image/gif,image/png'%>
        <input type="button" value="ファイル選択" class="btn btn-normal" onClick="$('#file').click();">
        <span id="img-profile">
          <%= image_tag(current_user.user_pic, size:"60x60", class:"img-circle", id: "preview") %>
        </span>
      </span>
      <br><br><br>
      
      <button type='submit' class="btn btn-primary btn-lg col-sm-offset-4 col-sm-4" >更新する</button>
      
    <% end %>
  </div>  
</div>

<script>
/*アップロード前にプレビュー表示*/
$('#file').change(
    function() {
        if ( !this.files.length ) {
            return;
        }
 
        var file = $(this).prop('files')[0];
        var fr = new FileReader();
        fr.onload = function() {
            $('#preview').attr('src', fr.result ).css('display','inline');
        }
        fr.readAsDataURL(file);
    }
);
</script>