<% if current_user.notices.empty? %>
  <h1>まだお知らせはありません</h1>
<% else %>
  <% current_user.notices.each do |notice| %>
    <li><%= image_tag User.find(notice.aiteno_id).user_pic, size: "50x50", class: "img-circle" %></li>
    <li><%= notice.message %></li>
    <li><%= notice.created_at.strftime('%Y年%m月%d日') %></li>
  <% end %>
<% end %>