<%= form_for(kiji) do |f| %>
  <% if kiji.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kiji.errors.count, "error") %> prohibited this kiji from being saved:</h2>

      <ul>
      <% kiji.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :daiji_words %>
    <%= f.text_area :daiji_words %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :sitename %>
    <%= f.text_area :sitename %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_area :url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
