<p id="notice"><%= notice %></p>

<h1>Kijis</h1>

<table>
  <thead>
    <tr>
      <th>Daiji words</th>
      <th>Title</th>
      <th>Body</th>
      <th>Sitename</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kijis.each do |kiji| %>
      <tr>
        <td><%= kiji.daiji_words %></td>
        <td><%= kiji.title %></td>
        <td><%= kiji.body %></td>
        <td><%= kiji.sitename %></td>
        <td><%= kiji.url %></td>
        <td><%= link_to 'Show', kiji %></td>
        <td><%= link_to 'Edit', edit_kiji_path(kiji) %></td>
        <td><%= link_to 'Destroy', kiji, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kiji', new_kiji_path %>
