<p id="notice"><%= notice %></p>

<p>
  <strong>Daiji words:</strong>
  <%= @kiji.daiji_words %>
</p>

<p>
  <strong>Title:</strong>
  <%= @kiji.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @kiji.body %>
</p>

<p>
  <strong>Sitename:</strong>
  <%= @kiji.sitename %>
</p>

<p>
  <strong>Url:</strong>
  <%= @kiji.url %>
</p>

<%= link_to 'Edit', edit_kiji_path(@kiji) %> |
<%= link_to 'Back', kijis_path %>
