// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// index のカテゴリ欄
//カテゴリに block-inline を、もっと見るに inline を
.block-inline{
  display:inline-block;
}
.inline{
  display:inline;
  margin-left: 20px;
  text-size: 10px; 
}

.carousel .item {
  height: 300px;
}

.carousel img {
  //position: absolute;
  width: 100%;
}


.item a{/*リンクされた文字*/
    color:white;
    font-style:normal;
    text-decoration:underline;
}
.item a:link {/*未訪問のリンク*/
    color:white;
    font-style:normal;
    text-decoration:underline;
}
.item a:visited {/*訪問後のリンク*/
    color:white;
    text-decoration:underline;
}


//ボックスリンク
.article{
  position: relative;
  width:    100%;
  height:   250px;
  margin:   0;
  margin-bottom: 30px;
  padding:  0;
}
.article img{
  width:    100%;
  height:   250px;
}
//ダミーのシャドウ
.article span{
 	position:	absolute; /* 絶対位置指定 */  
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
//Pick 数
.article p.pick{
  color: white;
  font-size: 15px;
  position: absolute;
  right: 0;
  top: 0;
  border-left: solid 1px white;
  border-bottom: solid 1px white;
  margin: 0;
  padding: 30px;
}
.inner-article{
//	width:		100%;
	font-size:	150px;
	text-align:	center;
	bottom:		4px;
	margin:		0;
	padding:	0;
	
	color:		white;
	position:	absolute; /* 絶対位置指定 */  
}
.inner-article p{
  margin:0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.inner-article a{/*リンクされた文字*/
    color:white;
    font-style:normal;
    text-decoration:underline;
}
.inner-article a:link {/*未訪問のリンク*/
    color:white;
    font-style:normal;
    text-decoration:underline;
}
.inner-article a:visited {/*訪問後のリンク*/
    color:white;
    text-decoration:underline;
}



//コメント欄
.comment-area{
  height: 200px;
  max-height: 400px;
}



