

div.col-sm-6 div.thumbnail{
  height: 100%;
}

header{
  background: rgba(0,0,255,0.1); 
  border: 5px solid #000;  
  color: #fff;  
}

header li{
  padding: 0px 10px;
}

header input{
  height: 30px;
}
header button.search{
  margin-top: 5px;
  height: 50px;
}

/*.thumbnail{
  padding: 0;
}
*/

.read-more{
  width:100%;
  font-size:26px;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  background-color: #4648b8;
  border-style: solid 1px #fff;
}

.show-div{
  max-width: 700px;
}