li#alpha{
    background-coloer: red
}

.alpha-btn{
    width: 50px;
  	//background-color: #1abc9c;    
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    line-height: 50px;
  	box-shadow: 0 3px 0 #0e8c73;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);    
}

.alpha-btn:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.alpha-btn:active {
	top: 3px;
	box-shadow: none;
}


table.tango-list {
    //width: 600px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
}

table.tango-list th,{
    padding: 10px;
}
 
table.tango-list th {
    background: #295890;
    vertical-align: middle;
    text-align: left;
    //width: 100px;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 20px;
}
 
table.tango-list th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #295890;
    border-width: 10px;
    margin-top: -10px;
}


td.meaning{
  //width: 300px;
  padding-left: 30px;
  padding: 20px 40px;
  font-size: 20px;   
  line-height: 30px;
}

table.tango-list td.button{
  border-left: medium solid #fff;
  padding: 20px 10px;
  //width: 200px;
  font-size: 15px;
}
 
table.tango-list td {
    background: #f8f8f8;
    font-weight: normal;
}