// Place all the styles related to the TangoLists controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

@font-face {
  font-family: 'example';
  src: url('example.woff2') format('woff2'),
       url('example.woff') format('woff'),
       url('example.ttf') format('truetype');
}



.go-to-tangos {
	background-color: white;
	border: 2px solid #333;
	color: #fff;
	display: inline-block;
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
}
.go-to-tangos:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}
.go-to-tangos::before,
.go-to-tangos::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.go-to-tangos,
.go-to-tangos::before,
.go-to-tangos::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}


table.tango-list {
    width: 700px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
}
 
table.tango-list th,
table.tango-list td {
    padding: 10px;
}
 
table.tango-list th {
    background: #295890;
    vertical-align: middle;
    text-align: left;
    width: 100px;
    overflow: visible;
    position: relative;
    color: rgba(136, 183, 213, 0);
    font-weight: normal;
    font-size: 20px;
}
 
table.tango-list th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #295890;
    border-width: 10px;
    margin-top: -10px;
}


 
table.tango-list td {
    background: #f8f8f8;
    width: 360px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 20px;   
}



.alpha-btn:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}



.alpha-btn{
    width: 50px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    line-height: 50px;
  	box-shadow: 0 3px 0 #0e8c73;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);    
  	background-color: #1abc9c;    
  	box-shadow: 0 3px 0 #0e8c73;
}

li.red-btn{
    background-color: red;
}


.alpha-btn:active {
	top: 3px;
	box-shadow: none;
}
