// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input{
  height: 40px;
}
.form{
  margin-bottom: 50px;
}
