<%= form_for(tango) do |f| %>
  <% if tango.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tango.errors.count, "error") %> prohibited this tango from being saved:</h2>

      <ul>
      <% tango.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
