<p id="notice"><%= notice %></p>

<% alphabet = ["A","B","C","D","E","F","G","H","I","J","K","L","N","M","O","P","Q","R","S","T","U","V","W","X","Y","Z"] %>

<% if logged_in? %>
  <%= link_to "マイ単語へ", user_tango_lists_path(current_user.id), class:"go-to-tangos" %>
<% end %>

<div class="row">
  <div class="col-md-4 col-sm-12">
    <ul class="list-inline">
      <% alphabet.each do |word| %>
        <%= link_to(content_tag(:li, word, class: "alpha-btn"), tangos_search_path(q: word.downcase),method: :post ,remote: true )%>
      <% end %>
    </ul>
  </div>
  
  <div id="lists" class="col-sm-8">
    <table id="lists" class="tango-list col-sm-8">
      <tbody>
        <% @tangos.each do |tango| %>
          <tr>
            <th class="meaning"><%= tango.word %></th>
            <td class="meaning"><%= tango.meaning %></td>
            <% if logged_in? %>
              <td class="button" id="list-button-<%= tango.id %>">
                <% if current_user.tango_lists.find_by(tango_id: tango.id) %>
                  <%= link_to '追加済', tango_tango_list_path(tango.id, TangoList.find_by(tango_id: tango.id)), method: :delete, remote: true %>
                <% else %>
                  <%= link_to content_tag(:i, " 単語帳に追加", class:"fa fa-plus"), tango_tango_lists_path(tango.id), method: :post, remote: true %>
                <% end %>
              </td>
            <% end %>  
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>