<div class="col-sm-8">
  <% hajime_article = @articles[0] %>
  <div class="col-sm-12 thumbnail">
    <p class="img-responsive"><%= link_to image_tag(hajime_article.pic), hajime_article %></p>
    <p><%= link_to hajime_article.title, hajime_article %></p>
    <p><%= link_to hajime_article.site_name, hajime_article, class:"caption" %></p>
    <p><%= hajime_article.count %> words</p>
    <p><%= hajime_article.picks.count %> Picks</p>
    <p><%= time_ago hajime_article.post_time if hajime_article.post_time %></p>
  </div>
  <% @articles[1..8].each do |article| %>
    <div class="col-sm-6 thumbnail">
      <p class="img-responsive"><%= link_to image_tag(article.pic), article %></p>
      <p><%= link_to article.title, article %></p>
      <p><%= link_to article.site_name, article, class:"caption" %></p>
      <p><%= article.count %> words</p>
      <p><%= article.picks.count %> Picks</p>
      <p><%= time_ago article.post_time if article.post_time %></p>
    </div>      
  <% end %>
</div>
