<header class="navbar navbar-fixed-top">
    <nav>
    <div class="container-fluid">
      
      <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#collapse-target">
            <i class="fa fa-bars fa-2" aria-hidden="true"></i>
          </button>
          <a href="" class="navbar-brand"></a>
      </div>

      <div class="collapse navbar-collapse" id="collapse-target">
        
      <div class="nav navbar-nav">
        <li style="display: inline-block;"><h2><%= link_to "News TOETOE", root_path, id: "logo" %></h2></li>
        <!--オートコンプリート機能のテキストボックス-->
        <li  style="display: inline-block;">
          <%= form_tag articles_path, method: "get", class:"form-group" do %>
            <%= text_field_tag :search, params[:search],placeholder: "調べたい単語を入力" ,id:"txtKeywd", class:"form-controll" %>
            <button type='submit' class="btn btn-primary btn-lg search" >検索</button>
          <% end %>
        </li>
      </div>
      
      <div class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <!--ホーム画面-->
          <li><%= link_to(content_tag(:i, "", class:"fa fa-home fa-2x", style:"color: red;"), root_path) %></li>
          
          <!--単語リスト-->
          <li><%= link_to content_tag(:i, "", class: "fa fa-tags fa-2x"), user_tango_lists_path(current_user.id) %></li>
            
          <!--ドロップダウンメニュー-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          <!--お知らせ-->
          <li>
            <%= link_to(content_tag(:i,"" ,class: 'fa fa-bell-o fa-2x'), notice_index_path) %>
            <% if current_user.notices.unreads.count != 0 %>  
              <li class="badge badge-red" style:"background-color:red;">
                <%= current_user.notices.unreads.count %>
              </li>
            <% end %>  
          </li>
          
          <!--設定-->
          <li><%= link_to(content_tag(:i, "", class: "fa fa-cog fa-2x"), settings_profile_path) %></li>
          
          
        <% else %>
          <!--新規登録-->
          <li><h3><%= link_to "新規登録", new_user_path %></h3></li>
          <li><h3>　　</h3></li>
          <!--ログイン-->
          <li><h3><%= link_to "ログイン", login_path %></h3></li>
          <!--単語リスト-->
          <li><h3><%= link_to "単語一覧", tangos_path %></h3></li>
        
        <% end %>
      </div>
      </div>
      
    </nav>
</header>

