<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= render 'layouts/shiv' %>
  </head>
  <body >
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'settings/left_sidebar' %>
      <div class= "col-sm-8">
        <h3 class="text-center ">
          <%= yield(:setting) %>
        <hr width="100%"> 
      </div>     
      <%= yield %>
    </div>
  </body>
  <%= debug params %>
</html>
